<!DOCTYPE html>
<html>
<%= render 'layouts/head' %>
<body>
<!-- Navigation Bar-->
<%= render 'layouts/header' %>
<!-- End Navigation Bar-->
<div class="wrapper">
  <div class="container">
    <%= yield %>
    <!-- Footer -->
    <%= render 'layouts/footer' %>
    <!-- End Footer -->
  </div>
</div>
<!-- jQuery  -->
<%= render 'layouts/js' %>


</body>
</html>
